{%load static%}
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">
<link rel="stylesheet" href="{%static 'css/ambRegister.css'%}">




<div class="container-fluid login-div">
  
    <div class="heading">
      <h1>Ambulance Registration form</h1>
    </div>
    <form action="" method="post">
      {%csrf_token%}
      <!-- {{form.name}} -->
  
      
  
      <div class="form-group">
  
        {{form.ambulance_id.label_tag}}
            {{form.ambulance_id}}
        
  
        
        
  
  
      </div>
      <div class="form-group">
        {{form.ambulance_name.label_tag}}
            {{form.ambulance_name}}
        
      </div>
  
      <div class="form-group">
        {{form.ambulance_plate.label_tag}}
            {{form.ambulance_plate}}
        
      </div>
      <div class="form-group">
        {{form.doctor.label_tag}}
            {{form.doctor}}
  
        
        
        
      </div>
      <div class="form-group">
        {{form.cleaner.label_tag}}
            {{form.cleaner}}
        
      </div>
      <div class="form-group">
        {{form.driver.label_tag}}
            {{form.driver}}
        
      </div>
      
      <a href="login">
        <button type="submit" class="btn btn-primary my-2">Submit</button>
  
      </a>
  
  
      <!-- {{form.as_p}} -->
  
      
  
  
    </form>
    
  
  </div>