<!-- tools/templates/tools/bill_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill Success</title>
</head>
<body>
    <h1>Bill Created Successfully!</h1>
    <p>Bill ID: {{ bill.id }}</p>
    <h3>Tools:</h3>
    <ul>
        {% for item in bill.items.all %}
            <li>{{ item.tool.name }} - {{ item.tool.price }}Rs</li>
        {% endfor %}
    </ul>
    <p>Total Price: {{ bill.total_price }}Rs</p>
    <a href="/staff_home">Home Page</a>
</body>
</html>
