{%extends 'userNavbar.html'%}
{%block body%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/message_after_book.css'%}">
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">

{% if acc_ride %}

<table class="table" style="margin-top: 90px;color: white;">
  <tr>
    <th>Booking Id</th>
    <th>Username</th>
    <th>Email</th>
    <th>Contact No.</th>
    <th>AAdhar No.</th>
    <th>Address</th>
    <th colspan="3">Action</th>
  </tr>

  
  
  <tr>
    <td>{{acc_ride.id}}</td>
    <td>{{acc_ride.username}}</td>
    <td>{{acc_ride.email}}</td>
    <td>{{acc_ride.contact}}</td>
    <td>{{acc_ride.Addhar}}</td>
    <td>{{acc_ride.address}}</td>

  </tr>

  

</table>

{% else %}
<div style="margin-top: 37px;" class="cont">
  <p style="margin-bottom: 0px !important;">Waiting for rider to accept</p>
  <div class="loading-container">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    
  </div>
</div>

{% endif %}


{%endblock%}