{%extends 'userNavbar.html'%}
{%block body%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/message_after_book.css'%}">
<link rel="stylesheet" href="{%static 'css/bmin.css'%}">

{% if acc_ride %}


<div class="container" style="margin-top: 90px;">
  <div class="row">
      <div class="col-lg-12">
          <div class="card card-margin">
              <div class="card-body pt-0">
                  <div class="widget-49">
                      <div class="widget-49-title-wrapper">
                          <div class="widget-49-date-primary">
                              <span class="widget-49-date-day">{{acc_ride.accepted_booking_id}}</span>
                              <span class="widget-49-date-month">Number</span>
                          </div>
                          <div class="widget-49-meeting-info">
                              <span class="widget-49-pro-title">{{am_det.ambulance_plate}}</span>
                              <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                          </div>
                      </div>
                      <table class="table">
                        <thead>
                          <th>Driver</th>
                          <th>Doctor</th>
                          <th>Cleaner</th>
                          <th>Drop Location</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{am_det.driver}}</td>
                            <td>{{am_det.doctor}}</td>
                            <td>{{am_det.cleaner}}</td>
                            <td>{{acc_ride.address}}</td>
                          </tr>
                        </tbody>

                      </table>
                  </div>
              </div>
          </div>
      </div>
      
      
  </div>
  </div>

{% else %}
<div style="margin-top: 37px;" class="cont">
  <p style="margin-bottom: 0px !important;">Waiting for rider to accept</p>
  <div class="loading-container">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    
  </div>
</div>

{% endif %}








{%endblock%}